* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160,35);
    margin: 0 auto;
    position: relative;/* Para que respeite os limites das bordas */
    overflow: hidden;/* Para que tudo que sair das bordas do quadro não apareça mais na tela */
    background: linear-gradient(#87CEEB, #E0F6FF);/* Cor do céu indo do azul para o branco */
}
.pipe {
    position: absolute; /* Para que uma img não interfira no comportamento da outra img */
    bottom: 0;
    width: 80px;
    right: 100%;
    animation: pipe-animation 2.0s  infinite linear;/* Para chamar a animação feita logo abaixo com a duração de 2 segundos rodando infinito e constante (linear) sem desaceleração na velocidade */
}
.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump 500ms ease-out; /* Para chamar a animação do pulo do Mário, ease-out para ele cair suavemente após pular */

}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}
.cogumelo {
    position:absolute ;
    width: 100px;
    bottom: 50%;
    animation: clouds-animation 10s infinite linear;

}

button{
    position: relative;
    align-items:normal;
    font-size: 30px;
    padding: 20px 20px;
    background-color: #757575;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    font-weight: 800;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4,0,0,0.2,1);  
    }
/* Animação do cano iniciando pela direita do quadro e sumindo quando chegar na borda esquerda */

@keyframes pipe-animation {
    from {
        right: -80px;/* Para o cano iniciar a animação no canto direito */
    }

    to {
        right: 100%;/* Para o cano sair fora da borda esquerda e sumir da tela */
    }
}

/* Animação do pulo do Mário */
@keyframes jump {

    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}
/* Animação das nuvens */
@keyframes clouds-animation {
    from{
        right: -550px;  
    }
    to {
        right: 100%;
    }
}